{% extends 'base_dashboard_admin3.html.twig' %}

{% block title %}Crear Usuario
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Crear Usuario</h1>
		{{ include('user/_form.html.twig') }}
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12 text-right">
				<a href="{{ path('app_user_index') }}">
					<i class='fas fa-angle-double-left' style='font-size:22px; color:#14626f'></i>
				</a>
			</div>
		</div>

	</div>
{% endblock %}
