{% extends 'base_publico.html.twig' %}

{% block title %}Org. supervigilancia/acreditación
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
	<div class="container">
		<h3>Org. supervigilancia/acreditación</h3>
		<table class="table table-striped">
			<thead>
				<tr align='center'>
					<th>Id</th>
					<th>Nombre</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for ente in entes %}
					<tr>
						<td align='center'>{{ i }}</td>
						<td>{{ ente.nombre }}</td>
					</tr>
					{% set i = i + 1  %}
				{% else %}
					<tr>
						<td colspan="3">No se han definido Organismos Acreditadores</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
	</div>
{% endblock %}
